	body{
	font-family: 'Nunito Sans', sans-serif;
	background-color:rgb(0,0,0);
	color:rgb(255,255,255);
	text-align:center;
	}

	h1{
	font-family: 'Press Start 2P', cursive;
	background: rgb(255, 105, 0);
	padding:20px;
	border-radius:50px;
	box-shadow: inset 0 0 0.5em 0 rgb(255, 105, 0), 0 0 0.5em 0 rgb(255, 105, 0);
	}
	
	#pfp{
	margin:40px;
	border-radius:100%;
	width: 20%;
	box-shadow: inset 0 0 0.5em 0 rgb(3, 177, 252), 0 0 1em 0 rgb(3, 177, 252);
	}
	
ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font-family: 'Comfortaa', cursive;
  	padding:10px;
	border-radius:50px;
	box-shadow: inset 0 0 0.5em 0 rgb(105, 105, 105), 0 0 0.5em 0 rgb(105, 105, 105);
}

li {
  display: inline;
padding:50px;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
  border-radius:50px;
  box-shadow: inset 0 0 0.5em 0 rgb(105, 105, 105), 0 0 0.5em 0 rgb(105, 105, 105);
  
}

#video{
	margin:30px;
	border-radius:10px;
}
